button {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    display:contents;
    font-size: large;
   
}
button:hover{
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;    
}
.btn{
    margin: 10px;
}
.search{
    width: 15px;
    height: 15px;
    padding-right: 10px;
}