/* .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}
.content img{
    width: 100%;
}
.question-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
}
button{
    padding: 10px;
    border-radius: 20px;
}
.list{
    padding: 10px;
} */

.content{
    position: relative;
}

.content img{
    width: 100%;
    height: auto;
    display: block;
}
.question-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  list-style: none;
  padding: 0;
}
.list {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  list-style: none;
  padding: 0px;
  position: relative;
}
