.image-container{
    width: 100%;
    position: relative;
    z-index: 1;
}

.image-container img{
    width: 100%;
    height: auto;
    display: block;
}

.header{
    width: 49.9%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    position:fixed;
    display: flex;
    align-items: center; 
}
.header img {
    padding-left: 10px;
    height: 50px;
    width: 50px;    
}

.header h1{
    padding-left: 10px;
}